/* ===================== GLOBAL ===================== */
@font-face {
  font-family: 'IndieFlowers';
  src: url('./assets/fonts/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./assets/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('./assets/fonts/Raleway-Light.ttf');
}

:root {
  --submit_button: #20af6c;
  --white_color: #fff;
  --add_button: #007bff;
  --grey_color: #ccc;
  --black_color: #000;
  --header_color: #056674;
  --hover_header: #e6ebdb;
  --icons_fit_color: #5497a1;
  --icons_added: #e8ebd9;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.icon-space {
  margin-left: 20px;
}

.styleh2 {
  margin: 20px 0px;
}

/* ===================== HEADER ===================== */
header {
  padding: 30px 0px;
  background-color: var(--header_color);
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navigation li {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  font-family: 'IndieFlowers';
  font-size: 70px;
  color: var(--white_color);
}

.navigation a {
  text-decoration: none;
  font-size: 18px;
  color: var(--white_color);
}

.navigation a:hover,
.navigation a.selected {
  text-decoration: underline;
  color: var(--hover_header);
}

.btn_space {
  margin-right: 5px;
  font-size: 21px;
}

.iconsSize {
  font-size: 22px;
  cursor: pointer;
  color: var(--white_color);
}

#fileUpload {
  display: none;
}

/* ==================== MAIN CONTENT ====================== */

.photo-carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--header_color);
  color: var(--white_color);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 100;
  border-radius: 10px;
  outline: none;
  font-size: 30px;
}

.photo-carousel .prev {
  left: 40px;
}

.photo-carousel .next {
  right: 40px;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}

.homeh2 {
  position: absolute;
  font-size: 45px;
  left: 45%;
  top: 40%;
  color: var(--white_color);
  z-index: 10; 
}

.photo-carousel img {
  display: block;
  width: 100%;
  height: 350px;
}

.photos-fit {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  justify-content: center;
  margin: 20px 0px;
}

.photos-fit-icon {
  position: relative;
}

.button-fit-icon-fav{
  position: absolute;
  top: 15px;
  right: 10px;
  background-color: transparent;
  color: var(--white_color);  
}

.photos-fit-icon-add {
  position: absolute;
  top: 15px;
  right: 55px;
  background-color: transparent;
  color: var(--white_color);
}

.photos-fit img {
  width: 100%; 
  height: 200px; 
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.photos-fit img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
  filter: brightness(70%);
}

.icons-fit {
  font-size: 18px;
  color: var(--white_color);
  background-color: var(--icons_fit_color);
  padding: 5px 10px;
  border-radius: 5px;
}

.icons-fit-active {
  background-color: var(--icons_added);
  color: var(--submit_button);
}

button {
  border: none;
}

.search-container {
  margin: 20px auto;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid var(--grey_color);
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s;
}


.search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  border: none;
  background-size: 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
}

/* ======================= FOOTER ========================== */
footer {
  background-color: var(--header_color);
  color: var(--white_color);
}

.footer-text-color {
  font-size: 25px;
  padding: 2px;
  border-radius: 5px;
  color: var(--white_color);
  cursor: pointer;
}

.padding-vertical-medium {
  padding-top: 26px;
  padding-bottom: 26px;
}

.margin-end-small {
  margin-right: 8px;
}

.margin-vertical-small {
  margin-top: 8px;
  margin-bottom: 8px;
}

