@font-face {
  font-family: 'IndieFlowers';
  src: url('./assets/fonts/IndieFlower-Regular.ttf');
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('./assets/fonts/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'RalewayLight';
  src: url('./assets/fonts/Raleway-Light.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header-container {
  padding: 1rem;
}

.header-container input {
  margin-left: 40px;
}

.search-upload {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navigation {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.navigation li {
  padding: 0.5rem;
  cursor: pointer;
}

.navigation li:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}

.logo {
  font-family: 'IndieFlowers';
  font-size: 70px;
}

.navigation a {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  #space {
    margin-bottom: 20px;
  }
}