
.delete-button {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: var(--delete_button);
    color: var(--white_color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .delete-button:hover {
    background-color: var(--hover_delete_button);
  }
  
  .text-left {
    text-align: left;
    margin-bottom: 20px;
  }