.collections-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
}

.control-area {
  display: flex;
  width: 100%;
  align-items: center;
}

.button-group {
  width: 100%;
  margin: 20px 0px;
}

.collections-page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.collections-page .new-collection-button {
  background-color: var(--new_collection_button);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  color: var(--white_color);
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.collections-page .delete-icon {
  background-color: var(--delete_space);
  color: var(--white_color);
  border-radius: 5px;
  font-size: 20px;
  padding: 50px 15px;
  margin: 0px 40px;
}

.collections-page .delete-icon {
  font-size: 30px;
}

.collections-page .collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.collections-page .collection-name-button {
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 5px;
  width: calc(40% - 20px);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--white_color);
}

.collections-page .collection-name-button:nth-child(odd) {
  background-color: var(--nth_child_color);
}

.collections-page .collection-name-button:nth-child(even) {
  background-color: var(--dropdown_button);
}
