:root {
  --new_collection_button: #16a085;
  --white_color: #fff;
  --delete_button: #eb1f1f;
  --shadow: rgba(0,0,0,0.1);
  --nth_child_color: #34495E;
  --add_button: #007bff;
  --grey_color: #ccc;
}


.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .modal-content {
    background: var(--white_color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    z-index: 1051;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    background-color: var(--nth_child_color);
    padding: 50px;
    border-radius: 8px;
    color: var(--white_color);
  }
  
  .modal-content form label {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .modal-content form select {
    margin: 20px 0px;
    border-radius: 5px;
    background-color: var(--new_collection_button);
    color: var(--white_color);
    border: none;
  }

  .modal-content form option {
    border-radius: 5px;
    background-color: var(--new_collection_button);
    color: var(--white_color);
    border: none;
  }
  
  .modal-content form input,
  .modal-content form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--grey_color);
    border-radius: 4px;
  }
  
  .modal-content form .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-content form .modal-button {
    padding: 8px 16px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-button.submit {
    background-color: var(--add_button);
    color: var(--white_color);
  }
  
  .modal-button.cancel {
    background-color: var(--delete_button);
    color: var(--white_color);
  }
  
  .modal-button:hover {
    opacity: 0.9;
  }

  .someSpace {
    margin-right: 10px;
  }